@font-face {
    font-family: "XB Titre";
    src: url("../src/assets/fonts/XBTitre.ttf") format("truetype");
}
@font-face {
    font-family: 'NotoKufiArabic'; 
    src: url('/assets/fonts/NotoKufiArabic/static/NotoKufiArabic-ExtraBold.ttf') format('truetype'); 
  }